<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>

  <p>It's like regular rentals, but super.</p>

  <p>{{#link-to "contact"}}Don't contact us!{{/link-to}}</p>
</div>
